<template>
  <div id="app">
  		<div class="page-wrap">
        <!-- header -->
          <header class="header header-fixheight header--fixed">
            <div class="container">
              <div class="header__inner">
                <div class="header-logo"><a href="home.html"><img src="./assets/img/logo.png" alt=""/></a></div>
                
                <!-- main-nav -->
                <nav class="main-nav">
                  
                  <!-- main-menu -->
                  <ul class="main-menu">
                    <li class="current">
                      <router-link to="cars">Cars</router-link>
                    </li>
                    <li>
                      <router-link to="promo">Hot Deals</router-link>
                    </li>
                    <li>
                      <router-link to="application">Auto Loan</router-link>
                    </li>
                    <li>
                      <router-link to="quote">Get Quote</router-link>
                    </li>
                    <li>
                      <router-link to="contact_us">Contact Us</router-link>
                    </li>
                  </ul><!-- main-menu -->
                  
                  <div class="navbar-toggle"><i class="fa fa-bars"></i></div>
                </nav><!-- End / main-nav -->
                
                <div class="btn-right">
                  <div class="search-btn"><i class="fa fa-search"></i> Search...</div>
                </div>
                <div class="searchbar">
                  <div class="searchbar__group"><span class="searchbar__addon"><i class="fa fa-search"></i></span>
                    <input class="searchbar__input" type="text" name="search" value="" placeholder="Search"/><span class="searchbar__close"></span>
                  </div>
                </div>
              </div>
            </div>
          </header>
      <!-- End / header -->
          <div class="md-content">
             <router-view/>
          </div>
          <!-- footer-01 -->
			<footer class="footer-01 md-skin-dark">
				<div class="footer-01__widget">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3 ">
								
								<!-- widget -->
								<section class="widget">
									
									<!-- sec-title -->
									<div class="sec-title">
										<h2 class="sec-title__title">about</h2><span class="sec-title__divider"></span>
									</div><!-- End / sec-title -->
									
									<p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis a rerum ratione aliquam placeat labore nemo itaque voluptas laudantium consequuntur ut quam, aperiam harum ipsam?</p>
									<div>
										<span><a type="button" href="#" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a></span>
										<span><a type="button" href="#" class="btn-floating btn-lg btn-email"><i class="fa fa-envelope"></i></a></span>
									</div>
								</section><!-- End / widget -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- widget -->
								<section class="widget">
									
									<!-- sec-title -->
									<div class="sec-title">
										<h2 class="sec-title__title">tag</h2><span class="sec-title__divider"></span>
									</div><!-- End / sec-title -->
									
									
									<!-- widget-tag -->
									<div class="widget-tag"><a href="#">Cars</a><a href="#">Toyota</a><a href="#">Lorem Ipsum Dolor</a><a href="#">Lorem Ipsum</a><a href="#">Philippines</a><a href="#">Lorem</a><a href="#">Luxury</a><a href="#">Ph</a><a href="#">Ipsum</a><a href="#">Foreign</a><a href="#">Invest</a><a href="#">Lorem</a><a href="#">YourCar</a>
									</div><!-- End /  widget-tag -->
									
								</section><!-- End / widget -->
								
							</div>
							<div class="col-md-6 col-lg-3 ">
								
								<!-- widget -->
								<section class="widget">
									
									<!-- sec-title -->
									<div class="sec-title">
										<h2 class="sec-title__title">gallery widget</h2><span class="sec-title__divider"></span>
									</div><!-- End / sec-title -->
									
									
									<!-- widget-gallery -->
									<div class="widget-gallery">
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
										<div class="widget-gallery__item"><a href="#" style="background-image: url('http://placehold.it/400x400');"><img src="http://placehold.it/400x400" alt=""/></a></div>
									</div><!-- End /  widget-gallery -->
									
								</section><!-- End / widget -->
								
							</div>
							<div class="col-lg-3 ">
								
								<!-- widget -->
								<section class="widget">
									
									<!-- sec-title -->
									<div class="sec-title">
										<h2 class="sec-title__title">working hours</h2><span class="sec-title__divider"></span>
									</div><!-- End / sec-title -->
									
									<p> Lorem ipsum dolor sit amet, consectetur</p>
									
									<!--  -->
									<div>
										<div class="widget-contact__item"><span class="widget-contact__title">Tel:</span>
											<p class="widget-contact__text">+63 927 1922298</p>
										</div>
										<div class="widget-contact__item"><span class="widget-contact__title">email:</span>
											<p class="widget-contact__text"><a href="#">companyname@lorem.com</a></p>
										</div>
										<div class="widget-contact__item"><span class="widget-contact__title">Working Hours</span>
											<p class="widget-contact__text">Mon - Sat: 9:00 - 18:00</p>
										</div>
									</div><!-- End /   -->
									
								</section><!-- End / widget -->
								
							</div>
						</div>
					</div>
				</div>
				
				<!-- copyright-01 -->
				<div class="copyright-01 md-text-center">
					<div class="container">
						<p class="copyright-01__copy">2018 &copy; Copyright. All rights Reserved.</p>
					</div>
				</div><!-- End / copyright-01 -->
				
			</footer><!-- End / footer-01 -->
  		</div>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
@import url("assets/fonts/fontawesome/font-awesome.min.css");
@import url("assets/fonts/pe-icon/pe-icon.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("assets/vendors/bootstrap/grid.css");
@import url("assets/vendors/magnific-popup/magnific-popup.min.css");
@import url("assets/vendors/swiper/swiper.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,600|Playfair+Display:400i");
@import url("assets/css/main.css");
</style>

