<template>
  <div class="application pages">
  <!-- Section -->
				<section class="md-section" id="id7" style="background-color:#fff;padding:60px 0 0;">
					<div class="row">
						<div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
							
							<!-- sec-title -->
							<div class="sec-title sec-title__lg-title md-text-center">
								<h2 class="sec-title__title">Application Form</h2><span class="sec-title__divider"></span>
							</div><!-- End / sec-title -->
							
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-9  col-lg-push-3">
								<div class="main-content">
									<div class="row"> 
										<div class="col-lg-9 ">
											<form class="contact-form">
												
												<!-- form-item -->
												<div class="form-item">
													<input class="text-bx form-control" type="text" name="input" placeholder="First Name"/> &emsp; <input class="text-bx form-control" type="text" name="input" placeholder="First Name"/>
												</div><!-- End / form-item -->
												
												
												<!-- form-item -->
												<div class="form-item">
													<input class="form-control" type="text" name="input" placeholder="email"/>
												</div><!-- End / form-item -->
												
												
												<!-- form-item -->
												<div class="form-item">
													<input class="form-control" type="text" name="input" placeholder="phone"/>
												</div><!-- End / form-item -->
												
												
												<!-- form-item -->
												<div class="form-item">
													<input class="form-control" type="text" name="input" placeholder="subject"/>
												</div><!-- End / form-item -->
												
												
												<!-- form-item -->
												<div class="form-item">
													<textarea name="message" placeholder="Message" style="height: 150px;"></textarea>
												</div><!-- End / form-item -->
												
												<button class="btn btn-primary btn-round mb-30" type="submit">Send message</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3  col-lg-pull-9">
								<div class="sidebar">
									
									<!-- widget -->
									<section class="widget">
										
										<!-- sec-title -->
										<div class="sec-title">
											<h2 class="sec-title__title">working hours</h2><span class="sec-title__divider"></span>
										</div><!-- End / sec-title -->
										
										<p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ad sunt est. Eaque odit, et nihil saepe. Eveniet autem, sit quisquam iusto soluta assumenda impedit possimus nesciunt fugiat aut in.</p>
										
										<!--  -->
										<div>
											<div class="widget-contact__item"><span class="widget-contact__title">Tel:</span>
												<p class="widget-contact__text">+63 927 1922298</p>
											</div>
											<div class="widget-contact__item"><span class="widget-contact__title">email:</span>
												<p class="widget-contact__text"><a href="#">companyname@lorem.com</a></p>
											</div>
											<div class="widget-contact__item"><span class="widget-contact__title">Working Hours</span>
												<p class="widget-contact__text">Mon - Sat: 9:00 - 18:00</p>
											</div>
										</div><!-- End /   -->
										
									</section><!-- End / widget -->
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
  </div>
</template>

<script>
export default {
  name: "Application"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text-bx {
  width: 250px!important;
}
@import url("../assets/css/main.css");
</style>
