<template>
  <div class="cars pages">
        <!-- car -->
				<div class="car" id="id1">
					
					<!-- swiper swiper-container -->
					<div class="swiper swiper-container">
						<div class="swiper-wrapper">
							<div class="car__wrapper">
								<div class="car__inner">
									<div class="container">
										<h1 class="car__title">Find The Right Car For You.</h1>
										<p class="car__desc">We have more than a thousand cars for you to choose.</p>
										
										<!-- btn -->
										<a class="btn btn-primary" href="#">Read More
										</a><!-- End / btn -->
									</div>
								</div>
							</div>
						</div>
					</div><!-- End / swiper swiper-container -->
					
				</div>
        <!-- End / car -->
				
				
				<!-- cta-02 -->
				<div class="cta-02">
					<div class="container">
						<div class="row">
							<div class="col-lg-9 ">
								<h3 class="cta-02__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h3>
							</div>
							<div class="col-lg-3  md-text-right">
								
								<!-- btn -->
								<a class="btn btn-outline" href="#">Get Application Form
								</a><!-- End / btn -->
								
							</div>
						</div>
					</div>
				</div>
        <!-- End / cta-02 -->
					<!-- Section -->
				<section class="md-section" id="id2" style="background-color:#fff;padding:60px 0;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">
								<div class="mb-30">
									
									<!-- sec-title -->
									<div class="sec-title sec-title__lg-title">
										<h2 class="sec-title__title">Welcome <span>to the Car Dealer</span></h2><span class="sec-title__divider"></span>
									</div><!-- End / sec-title -->
									
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><br>
									<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p><br><br><a class="btn btn-primary btn-outline" href="#">More...</a>
								</div>
							</div>
							<div class="col-lg-6 ">
								
								<!-- about -->
								<div class="about"><img src="assets/img/about/1.jpg" alt=""/>
									
									<!-- quote-02 -->
									<blockquote class="quote-02 about-quote">
										<p class="quote-02__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque luctus nibh augue, non ultrices arcu molestie in. Integer finibus dolor lorem, tempor pretium lectus</p>
										
										<!-- car_dealer_box -->
										<div class="authorbox">
											<div class="authorbox__avartar" style="background-image: url(https://picsum.photos/200/300?image=1071);"><img src="https://picsum.photos/200/300?image=1071" alt=""/></div>
											<div class="authorbox__info">
												<h5 class="authorbox__name">Lorem Ipsum</h5>
												<p class="authorbox__work">Car Dealer</p>
											</div>
										</div><!-- End / car_dealer_box -->
										
									</blockquote><!-- End / quote-02 -->
									
								</div><!-- End / about -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

        	<!-- Section -->
				<section class="md-section" id="id3">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
								
								<!-- sec-title -->
								<div class="sec-title sec-title__lg-title md-text-center">
									<h2 class="sec-title__title">Trending Cars of the Year</h2><span class="sec-title__divider"></span>
								</div><!-- End / sec-title -->
								
							</div>
						</div>
						<div class="row row-eq-height">
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/1.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota 86</a></h2>
									<div class="services__desc">Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P1,900,00.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/2.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota Alphard</a></h2>
									<div class="services__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque luctus nibh augue, non</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P2,500,000.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/3.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota Avanza</a></h2>
									<div class="services__desc">Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis turpis sed augue egestas dapibus vel at</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P3,600,000.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/4.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota Camry</a></h2>
									<div class="services__desc">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P3,500,000.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/5.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota Corolla Altis</a></h2>
									<div class="services__desc">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare.</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P3,000,000.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-4 ">
								
								<!-- best sellers -->
								<div class="services">
									<div class="services__img"><img src="../assets/img/service/6.jpg" alt=""/></div>
									<h2 class="services__title"><a href="#">Toyota FJ Cruiser</a></h2>
									<div class="services__desc">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien imperdiet, sagittis fringilla risus.</div>
									
									<!-- btn -->
									<a class="btn btn btn-primary btn-custom" href="#">P6,000,000.00
									</a><!-- End / btn -->
									
								</div><!-- End / best sellers -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
  </div>
</template>

<script>
export default {
  name: 'Cars'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.car__wrapper{
background-image: url('http://localhost:8080/#/src/assets/img/slider/1.jpg');
};
@import url("../assets/css/main.css");
</style>
