<template>
  <div class="cars pages">
   <h1>Contact Us</h1>
  </div>
</template>

<script>
export default {
  name: 'ContactUs'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("../assets/css/main.css");
</style>
