<template>
  <div class="cars pages">
	<!-- Section -->
				<section class="md-section" id="id4" style="background-color:#fff;">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">
								
								<!-- sec-title -->
								<div class="sec-title sec-title__lg-title md-text-center">
									<h2 class="sec-title__title">Featured Cars Special Offers</h2><span class="sec-title__divider"></span>
								</div><!-- End / sec-title -->
								
							</div>
						</div>
						
						<!-- gallery-wrap -->
						<div class="gallery-wrap gallery-album">
							<div class="grid-css grid-css--grid" data-col-lg="4" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
								<div class="grid__inner">
									<div class="grid-sizer"></div>
									
									<!-- grid-item -->
									<div class="grid-item large">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/9.jpg);"><img src="assets/img/gallery/9.jpg" alt="How to Create and"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/9.jpg" data-effect="mfp-zoom-in" title="2018 Best Deals">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item wide">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/10.jpg);"><img src="assets/img/gallery/10.jpg" alt="How to Master"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/10.jpg" data-effect="mfp-zoom-in" title="Using Memes in Your">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/11.jpg);"><img src="assets/img/gallery/11.jpg" alt="7 UI Choices That"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/11.jpg" data-effect="mfp-zoom-in" title="Lorem Ipsum">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/12.jpg);"><img src="assets/img/gallery/12.jpg" alt="Using Memes in Your"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/12.jpg" data-effect="mfp-zoom-in" title="Is UX Really That">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/13.jpg);"><img src="assets/img/gallery/13.jpg" alt="How To Build A"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/13.jpg" data-effect="mfp-zoom-in" title="Lorem Ipsum">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/14.jpg);"><img src="assets/img/gallery/14.jpg" alt="Lorem Ipsum"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/14.jpg" data-effect="mfp-zoom-in" title="How to Create and">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item large">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(assets/img/gallery/1.jpg);"><img src="assets/img/gallery/1.jpg" alt="Lorem Ipsum"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/1.jpg" data-effect="mfp-zoom-in" title="How to Master">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
									
									<!-- grid-item -->
									<div class="grid-item wide">
										<div class="grid-item__inner">
											<div class="grid-item__content-wrapper">
												
												<!-- promos -->
												<div class="gallery gallery--grid">
													<div class="gallery__image bg-image" style="background-image: url(../assets/img/gallery/2.jpg);"><img src="assets/img/gallery/2.jpg" alt="Getting Started with"/><a class="gallery__overlay mfp-image" href="assets/img/gallery/2.jpg" data-effect="mfp-zoom-in" title="The Essential Guide">
															<div class="md-tb">
																<div class="md-tb__cell md-text-center"><i class="fa fa-search"></i></div>
															</div></a>
													</div>
												</div><!-- End / promos -->
												
											</div>
										</div>
									</div><!-- End / grid-item -->
									
								</div>
							</div>
						</div><!-- End / gallery-wrap -->
						
					</div>
				</section>
				<!-- End / Section -->
  </div>
</template>

<script>
export default {
  name: 'Promo'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("../assets/css/main.css");
</style>
